<div class='well'>
	<form>
	  <legend>Sign in</legend>
	  <input type="text" placeholder="Username">
	  <input type="text" placeholder="Password">
	  <button type="submit" class="btn">Submit</button>
	</form>
</div>